.sigarette-box {
  $aspectRatio: 1.925;
  background-color: transparent;
  background-image: url("../assets/bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: min(100vw, calc(100vh / $aspectRatio));
  height: min(100vh, calc($aspectRatio * 100vw));
  margin: auto;

  .box__header {
    padding: 1em;
    height: 16.4%;
    margin-bottom: 32.4%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box__content {
    padding: 2em 1em 1em 1em;
    height: calc(100% * 2 / 3);
  }
  .box__header,
  .box__content {
    width: 100%;
  }
}
